<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lista HTML</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='css/bootstrap.css') }}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{{ url_for('static', filename='css/bootstrap.min.css') }}'>
    
</head>
<body>
    <div class="container center">
        <h2 class="center">Tabla con bootstrap</h2>
        <table class="table table-hover border">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre completo</th>
                </tr>
                </thead>
                <tbody>
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user['first_name'] }}</td>
                        <td>{{ user['last_name'] }}</td>
                        <td>{{ user['first_name'] + " " + user['last_name'] }}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>

    <script src='{{ url_for('static', filename='js\bootstrap.bundle.js') }}'></script>
    <script src='{{ url_for('static', filename='js\bootstrap.bundle.min.js') }}'></script>
</body>
</html>